---
import BaseLayout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div style="display:flex;justify-content:center;align-items:center;">
    <div style="width:300px;height:300px;position:relative;margin-top: 50px;">
      <iframe
        src="https://giphy.com/embed/qgQUggAC3Pfv687qPC"
        width="100%"
        height="100%"
        style="position:absolute"
        frameborder="0"
        class="giphy-embed"
        allowfullscreen></iframe>
    </div>
  </div>
  <p>
    <a
      href="https://giphy.com/gifs/dommespace-domme-space-programador-qgQUggAC3Pfv687qPC"
      >via GIPHY</a
    >
  </p>

  <!-- <div class="gif">
  <img width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp" />
  </div> -->
  <h2>{frontmatter.title}</h2>
  <ul class="badge__list">
    <li>
      <span class="badge badge--item">PLATFORM</span>{frontmatter.platform}
    </li>
    <li><span class="badge badge--item">STACK</span>{frontmatter.stack}</li>
    <li>
      <span class="badge badge--item">WEBSITE</span><a
        class="badge__link"
        href={frontmatter.website}
        target="_blank">{frontmatter.website}</a
      >
    </li>
    <li>
      <span class="badge badge--item">GITHUB</span><a
        class="badge__link"
        href={frontmatter.github}
        target="_blank">{frontmatter.github}</a
      >
    </li>
  </ul>
  <slot />
  <!-- ここでWorksのところに画像を入れることができるようになる -->
  <div class="center">
    <img
      class="pro-img"
      width=""
      height="281"
      src={frontmatter.worksImage1.url}
      alt={frontmatter.worksImage1.alt}
    />
    <img
      class="pro-img"
      width=""
      height="281"
      src={frontmatter.worksImage2.url}
      alt={frontmatter.worksImage2.alt}
    />
  </div>
</BaseLayout>
